/*=============== LOGOS ===============*/
.logos__container{
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .logos__img img{
    height: 60px;
    border-radius: 10px;
  }

  /*=============== BREAKPOINTS ===============*/
  /* For small devices */

@media screen and (max-width: 320px){ 
  .logos__container{
    gap: 2rem 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 578px) {
  .logos__img img{
    height: 60px;
    margin-left: 35px;
  }
}

@media screen and (min-width: 767px){

  .logos__img{
    padding: 1.5rem;
  }

  .logos__img img{
    height: 35px;
  }
}

/* For large devices */
@media screen and (min-width: 1020px) {
  
.logos__container{
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  }

.logos__img img{
  height: 128px;
  }
}

@media (max-width: 650px) {
  .logos__img img {
      height: 135px;
  }
}

#flipar {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}